@import url('https://fonts.googleapis.com/css?family=Spectral|Rubik');

* {
    font-family: Rubik, sans-serif;
    font-size: 18px;
    box-sizing: border-box; 
    margin:0; 
    padding:0;
    transition: all .2s ease;
    outline:none; border:none;    
}

html{
    background-color: #fff2e6;
    overflow-x: clip;
    min-width: 320px;
}


.header {
    position:sticky;
    top:0; left:0; right:0;
    height:3rem;
    z-index:1000;
    background-color: #4d2600;
    display:flex;
    align-items:center;
    padding: 0 9%;

    .logo {
        font-size:1.2rem;
        font-weight:bolder;
        margin-right: auto;

        img{
            width:2rem;
        }

    }

    .navbar{
        
        ul{
            list-style: none;

            li{
                position: relative;
                float: left;

                &:hover ul{
                    display: block;
                }

                a{
                   font-size: 1rem;
                   color:#fff2e6;
                   padding:0.7rem;
                   display:block;

                    &:hover{
                        transform:scale(1.1) translateX(2px);
                    }
                }

                ul{
                    position: absolute;
                    left: 0;
                    width:20rem;
                    display: none;
                    background-color: #4d2600;
                    transform:scale(1.1) translateX(2px);

                    li{
                        width:100%;
                        font-size: 0.8rem;
                    }
                }
            }
            
        }
    }

    .icons div, .icons a{
        font-size: 1.2rem;
        color:#fff2e6;
        cursor:pointer;
        margin-right:0.5rem;

        &:hover{
           transform:scale(1.2) translateX(8px); 
        }   
    }
    
    #menu-btn{
        display:none;
    }
}
  
.topPage{
    background-image: url('../img/coffee\ beans.png');
    background-size: 100%;
    padding:0px;
    text-align:center;

    h1, h2 {
        color:bisque;
        text-shadow:2px 2px 5px black;
    }

    h1 {
        font-family: Spectral, serif;
        font-size:4rem;
    }

    h2 {
        font-size: 2rem;
        text-align:left;
        padding-left: 10%;
    }
}

.content{
    display:block;
    flex-wrap: wrap;
    width:80%;
    margin-left:8%;

    .search-form{
        background: #fff2e6;
        display: flex;
        align-items: center;
        margin: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

        &.active{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }

        input{
            width:25rem;
            height:1.7rem;
            font-size: 1rem;
            color:#4d2500;
            text-transform: none;
        }

        label{
            font-size:1.5rem;
            color:#4d2600;
            cursor:pointer;
        }
    }

    .main-content{
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #registration_form {
        margin:1rem;
        padding:2rem;
        width:28rem;
        border:solid 2px #4d2600;
        background-color: antiquewhite;

        h4{
            text-align: center;
            /* margin-top: 0.5rem;
            margin-bottom: 2rem; */
        }

        input {
        margin:0.5rem;
        width:23rem;
        height:2rem;
        }

        #submit_button{
            text-decoration: underline;
            background-color: antiquewhite;
            border:none;
            &:hover{
                cursor:pointer;
                transform:scale(1.1) translateX(4px);       
            }
        }
        a{
            color: black;
            padding:40%;
        }
    }

    button{
        background-color: #fff2e6;
        box-shadow: 0 0.1rem 6px 0;
        color: #4d2600;
        height: 2.5rem;
        border-radius: 1rem;
        cursor:pointer;
        border:solid 1px #4d2600;
        margin: 1rem;

        &:hover{
            background-color: antiquewhite;        
        }
    }


    .img-roast-beans{
        float:left;
        width:25rem;
        margin: 1rem;  
    }
    .woman-cofee{
        float:right;
        width:25rem;
        margin: 1rem;        
    }

    p{
        margin:0.7rem;
    }

    h4{
        margin:0.9rem;
    }

    h5 {
        margin:0.8rem;
    }

    h3, h4, h5 {
        color: #4d2500;
    }

    span {
        color: #4d2500;
        font-weight: bolder;
    }

    p > span {
        font-size: 1.3rem;
    }

    h5 + p {
        font-size:1.3rem;
    }

    table{
        width: 75%;
        margin-left: 12rem;

        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-right: 10%;
        margin-left: 15%;
    }

    table, th, td {
        padding: 0.7rem;
        border:solid 0.1rem #4d2500;
        border-collapse: collapse;
    }


    ul {
        list-style-type: circle;
    }

    ul.cofee_ul {
        list-style-position: outside;
        list-style-image: url('../img/bean.png');
    }

    ul.tea_ul {
        list-style-position: outside;
        list-style-image: url('../img/tealeaf.png');
    }

    #more{
        display:none;
    }

    #btnReadMore{
        background-color: #fff2e6;
        color:#4d2600;
        box-shadow: none;
        border: none;
        padding: 0;
        text-align: center;
        text-decoration: underline;
        margin: 0 0 3rem 0;
        cursor:pointer;
        &:hover{
            transform:scale(1.2) translateX(8px);
        } 
    }

}




.footer .box_container{
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.5fr; 

    grid-template-areas: "contact shop user" "author author author";

    .contact_box, .shop_box, .user_box, .author{
        background-color: #4d2500;
        color:#fff2e6;
        text-align: center;
        padding:1rem;

        h3{
            font-size:0.8rem;
        }
        a{
            padding:1rem;
            color:white;
            font-size:0.9rem;
        }
    }

    .contact_box{
        grid-area: contact;
    }
    .shop_box{
        grid-area: shop;
    }
    .user_box{
        grid-area: user;
    }

    .author{
        grid-area: author;
        font-size: 0.6rem;

        span{
            font-size: 0.7rem;
        }
    }
}

#btnContainer {
    padding: 3rem 3rem 0;
    span{
        font-weight:bolder;
        color:#4d2600;
    }

    .btnFilter{
        margin:0.7rem;
        background-color: #fff2e6;
        color: #535251;
        text-decoration: underline;
        cursor:pointer;

        &.active{
            color: #4d2500;
            font-weight: 700;
        }
    }
}




/* coffee grid====================================================== */
.coffeeProd, .teaProd {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);

    .box{
        margin-top:1rem;
        margin-bottom:1rem;

        padding:0.5rem;

        text-align:center;

        width:19rem;
        height:27rem;
        background-color: white;

        img{
            width:auto;
            height:20rem;
        }
        .quantity{
            padding: 0.4rem;
            color:#535251;

            input{
                color:#535251;
                border: 1px solid black;
            }
        }
        .btn{
            padding:0.25rem;
            border-radius:5px;
            text-decoration: none;
            color:#4d2500;

            &:hover{
                background-color: #4d2500;
                color:#fff2e6;
            } 
        }

        display: none;
    }

    .show {
        display: grid;
    }
}





/* blog  ========================================== */
.blog{
    width:80%;
    padding-left:8rem;

    h2{
        font-size: 1.4rem;
        margin:1rem;
        padding-top:1rem;
    } 
    
    h3{
        font-size: 1.2rem;
        margin:1.2rem 3rem 0.6rem;
    }
    
    p{
        padding-top:0.9rem;
        font-size: 1.1rem;
    }

    #more1, #more2, #more3, #more4, #more5 {
        display:none;
    }
    
    #readMoreBtn1, #readMoreBtn2, #readMoreBtn3, #readMoreBtn4, #readMoreBtn5{
        background-color: #fff2e6;
        color:#535251;
        font-size:1rem;
        box-shadow: none;
        border: none;
        padding: 0;
        text-align: center;
        text-decoration: underline;
        margin: 0.4rem 0 2rem 1rem;
        cursor:pointer;
        &:hover{
            transform:scale(1.1) translateX(4px);
        } 
    }    
}



/* contact  ========================================== */
.contact-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2rem;

    h2, h3{
        color:#4d2600;
    }

    h2{
        padding:2rem 0 0.5rem 1rem;
        font-size:1.6rem;
    }
    h3{
        padding:1rem 0.75rem 1rem 0;
        font-size:1.2rem;
    }

    .contacts{
        margin-left:2rem;
        p{
            padding-bottom:1.5rem;
        }
    }

    .map{
        width:50%;        
    } 
    iframe{
        width:100%;
        height:80%;
    }
}


.login-form, .register-form{
    display:flex;
    flex-direction:column;
    align-items:center;

    padding-bottom: 4rem;

    h2, h3{
        padding:1rem;
        color:#4d2600;
    }
    h2{
        font-size: 1.2rem;
    }

    form{
        width:32rem;
        height:15rem;
        border: 1px solid black;
        border-radius: 5px;

        span{
            padding-left: 2.5rem;
        }
        input {
            margin:0.5rem;
            width:24rem;
            height:2rem;
        }   
    }

    .btn { 
        padding: 0.5rem;
        text-align: center;
        text-decoration: none;
        background-color: #4d2600;
        color:#fff2e6;
        width: 9rem; height:2rem;
        border:none;
        border-radius: 5px;
        
        &:hover{
            background-color: #2f261e;
            cursor:pointer;
            transform:scale(1.1) translateX(4px);       
        }  
    }

    #strangebtn{
        margin-left:36%;
    }
}

.login-form{
    form{
        span{
            padding-top:2rem;
        } 
        #strangebtn{
            margin-top:3.5rem;
        } 
    }
}


.cart{
    height: 21rem;
    h3{
        margin:2rem;
    }
}











@media screen and (max-width:1056px) {
    .content table{
        margin-left:0rem;
        width:95%;
    }

    .coffeeProd, .teaProd {
        grid-template-columns: repeat(2, 1fr);
        
        .box{
            width:20rem;
            height:25rem;

            img{
                width:auto;
                height:15rem;
            }
        }
    }
}



@media screen and (max-width:767.98px) {
    * {
        font-size: 0.9rem;
    }

    .header{
        padding: 0 1rem;

        .navbar{
            position: absolute;
            top:99%; left: 0; right: 0;
            background: #4d2500;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            &.active{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            ul li{
                width:100%;

                a{
                    &:hover{
                        transform:none;
                    }
                }

                ul{
                    position: relative;
                    width: 100%;

                    li a {
                        padding-left: 2rem;
                    }
                }
            }            
        }

        .icons div, .icons a{
            font-size: 1rem;
            margin-right:1rem;
    
            &:hover{
               transform:none;
            }   
        }

        #menu-btn{
            display:inline-block;
        }
    }

    .content{
        margin-left: 2rem;

        .search-form{
            margin: 1rem;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            label{
                font-size:1rem;
            }
        }

        .main-content{
            width: 100%;
        }

        #registration_form {
            margin-left:0.3rem;
            margin-top: 1.5rem;
            padding:1rem;
            width: fit-content;
        }

        button{  
            height: 2rem;
        }

        .img-roast-beans, .woman-cofee{
            float:none;
            width:80%;
            margin-left: 8%;  
        }

        p{
            margin:0.7rem;
        }

        h3, h4, h5 {
            margin:0.9rem;
        }

        table{
            width: 99%;
            margin: 0.5rem;
        }

        table, th, td {
            padding: 0.2rem;
        }

        ul {
            list-style-type: circle;
        }

        ul.cofee_ul, ul.tea_ul {
            list-style-position: inside;
            list-style:circle;
        }

        #more{
            display:none;
        }

        #btnReadMore{
            padding: 2rem;        
        }
    }

    .blog{
        width:92%;
        padding-left:1rem;
    
        h2{
            font-size: 1.2rem;
        } 
        
        h3{
            font-size: 1.1rem;
        }
        
        p{
            font-size: 1rem;
        }  
    }

    .coffeeProd, .teaProd {
        justify-items: center;
        grid-template-columns: 1fr;
    }
} 


@media screen and (max-width:450px) {
    .content{
        display:block;
        flex-wrap: wrap;
        width:98%;
        margin-left:0.3rem;
        
        .img-roast-beans, .woman-cofee{
           width:60%;
        }
    
        #more{
            display:none;
        }
    }
} 
